body {
  background: #6ba3b0;
  margin: 0;
  overflow: hidden;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
}
.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box {
  min-width: 850px;
  background: #fff;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
header {
  padding: 0 40px;
}
header .l_header {
  height: 70px;
}
header .l_header img {
  vertical-align: middle;
  margin: 0 10px 0 -12px;
}
header .l_header span {
  color: #53acdb;
  font: 18px/70px '微软雅黑';
  vertical-align: middle;
  display: inline-block;
}
header .r_header {
  line-height: 70px;
}
header .r_header .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("images/tou.jpg");
  background-size: 100%;
  background-clip: content-box;
}
header .r_header i {
  vertical-align: middle;
  color: #66757f;
  cursor: pointer;
}
header .r_header i:hover {
  color: #56acdf;
}
header .r_header span {
  vertical-align: middle;
}
header .r_header .shu {
  display: inline-block;
  width: 1px;
  height: 22px;
  background: #e0e6e7;
  margin: 0 10px;
}
.tools {
  padding: 10px 20px;
  height: 38px;
  background: #ecf0f6;
  border: #d0d9de solid;
  border-width: 1px 0;
}
.tools .flex-r {
  width: 600px;
}
.tools .flex-r div {
  box-sizing: border-box;
  height: 38px;
  padding: 0 23px;
  word-spacing: 18px;
  border: 1px solid #d0d9de;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  color: #66757f;
}
.tools .flex-r div span {
  font: 14px/36px '微软雅黑';
}
.tools .flex-r div:nth-last-child(1) {
  line-height: 36px;
  padding: 0 10px;
}
.tools .flex-r div:hover {
  color: #56acdf;
  border-color: #56acdf;
}
.tools .fr div {
  box-sizing: border-box;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  border: 1px solid #d0d9de;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  color: #66757f;
  margin-left: 5px;
  float: right;
}
.tools .fr div .sort {
  background: url("images/sort_type.png") no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.tools .fr div .icon {
  background: url("images/ico_type.jpg") no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.tools .fr div .fa-chevron-down {
  vertical-align: top;
  margin-top: 8px;
}
.tools .fr div:hover {
  border-color: #56acdf;
  color: #56acdf;
}
.tools .fr div:nth-of-type(1):hover .sort {
  background: url("images/sort_type2.png") no-repeat;
}
.tools .fr div:nth-of-type(2):hover .icon {
  background: url("images/ico_type2.jpg") no-repeat;
}
.body {
  width: 100%;
  position: relative;
}
.checkAll.active {
  background: url("images/checked.png");
}
.left {
  width: 238px;
  height: 100%;
  border-right: 2px solid #e1e8ed;
  white-space: nowrap;
  word-break: keep-all;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.left ul ul {
  display: none;
}
.left .close {
  cursor: pointer;
  position: relative;
}
.left .close span {
  margin-right: 3px;
}
.left .close .f_arrow {
  display: inline-block;
  width: 7px;
  height: 10px;
  margin-right: 6px;
  background: url("images/folder_jt1.png") no-repeat;
  vertical-align: middle;
}
.left .close .s_folder {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("images/s_folder2.png") no-repeat;
  vertical-align: middle;
}
.left .close .text {
  font: 16px/16px '微软雅黑';
  vertical-align: middle;
}
.left .open {
  cursor: pointer;
  position: relative;
}
.left .open span {
  margin-right: 3px;
}
.left .open .f_arrow {
  display: inline-block;
  width: 10px;
  height: 7px;
  background: url("images/folder_jt2.png") no-repeat;
  vertical-align: middle;
}
.left .open .s_folder {
  display: inline-block;
  width: 16px;
  height: 15px;
  background: url("images/s_folder1.png") no-repeat;
  vertical-align: middle;
}
.left .open .text {
  font: 16px/16px '微软雅黑';
  vertical-align: middle;
}
.left .close:hover {
  background: #f1f1f1;
}
.left .open:hover {
  background: #f1f1f1;
}
.right {
  padding-left: 238px;
  height: 100%;
}
.right .top {
  box-sizing: border-box;
  height: 48px;
  padding: 16px 0 0 16px;
  border-bottom: 2px solid #e1e8ed;
}
.right .top .checkAll {
  width: 16px;
  height: 16px;
  border: 1px solid #d0d9de;
  border-radius: 2px;
  float: left;
  margin-right: 27px;
}
.right .top .nav_bar {
  height: 100%;
}
.right .top .nav_bar .p_nav {
  font: 14px/14px '微软雅黑';
  vertical-align: middle;
  padding: 0 15px;
}
.right .top .nav_bar .c_nav {
  display: inline-block;
  font: 14px/14px '微软雅黑';
  vertical-align: middle;
  padding: 0 15px;
  height: 25px;
  color: #56acdf;
  margin-bottom: -12px;
  border-bottom: 2px solid #56acdf;
}
.right .top .nav_bar .p_nav:after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 22px;
  background: url("images/br_jt.png");
  vertical-align: middle;
  transform: translate(20px, -3px);
}
.right .empty {
  height: 100%;
  background: #f5f8fa;
  text-align: center;
  display: none;
  position: relative;
}
.right .empty img {
  margin-top: 80px;
}
.right .bottom {
  height: 100%;
  background: #f5f8fa;
  position: relative;
  overflow: auto;
}
.right .bottom .file {
  box-sizing: border-box;
  border: 1px solid #ebeff0;
  width: 180px;
  height: 180px;
  border-radius: 5px;
  background: #ebeff0;
  margin: 40px 0 0 40px;
  padding: 10px;
  text-align: center;
  float: left;
}
.right .bottom .file .check {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #ebeff0;
  border-radius: 2px;
  margin-left: -140px;
}
.right .bottom .file .folder {
  width: 80px;
  height: 71px;
  background: url("images/folder-b.png") no-repeat;
  margin: 0 auto;
}
.right .bottom .file .f_name {
  display: inline-block;
  margin-top: 25px;
}
.right .bottom .file .f_input {
  display: none;
  outline: none;
  box-sizing: border-box;
  margin-top: 25px;
  border: 1px solid #56acdf;
  height: 25px;
  padding: 5px;
  width: 158px;
  text-align: center;
  font: 15px/15px '微软雅黑';
}
.right .bottom .active {
  background: #fff;
  border: 1px solid #56acdf;
  box-shadow: 0 0 5px 0 #d4e8f3;
  float: left;
}
.right .bottom .active .check {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("images/checked.png") no-repeat;
  border-radius: 2px;
  margin-left: -140px;
}
.right .bottom .active .folder {
  width: 80px;
  height: 71px;
  background: url("images/folder-b.png") no-repeat;
  margin: 0 auto;
}
.right .bottom .active .f_name {
  display: inline-block;
  margin-top: 25px;
  color: #56acdf;
}
.right .bottom .active .f_input {
  display: none;
  outline: none;
  box-sizing: border-box;
  margin-top: 25px;
  border: 1px solid #56acdf;
  height: 25px;
  padding: 5px;
  width: 158px;
  text-align: center;
  font: 15px/15px '微软雅黑';
}
.right .bottom .file:hover {
  background: #fff;
  border: 1px solid #56acdf;
  box-shadow: 0 0 5px 0 #d4e8f3;
}
.right .bottom .file:hover span {
  color: #56acdf;
}
.f_menu {
  display: none;
  position: absolute;
  border: 1px solid #000;
  width: 130px;
  height: 81px;
  background: #FFFFFF;
  cursor: pointer;
}
.heng {
  height: 1px;
  background: #000;
}
.f_menu div:nth-of-type(2n-1) {
  height: 40px;
  font: 20px/40px '微软雅黑';
  text-align: center;
}
.f_menu div:nth-of-type(2n-1):hover {
  background: #eeeeee;
}
.border {
  background: rgba(0, 150, 255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}
.open.active {
  background: #f1f1f1;
}
.kai.active {
  background: #f1f1f1;
}
.close.active {
  background: #f1f1f1;
}
.tan {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.tan .window {
  width: 400px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 6px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.tan .window .head {
  height: 58px;
  border-bottom: 2px solid #0a8cd2;
}
.tan .window .head span {
  font: 20px/58px '微软雅黑';
  margin: 0 15px;
}
.tan .window .head span:nth-of-type(2) {
  cursor: pointer;
}
.tan .window .content {
  height: 425px;
  padding: 15px 20px 0;
}
.tan .window .content .show {
  height: 338px;
  border: 1px solid #e0e6e7;
  overflow: hidden;
  position: relative;
}
.tan .window .content .show ul {
  transform: translateY(0);
}
.tan .window .content .show .kai {
  cursor: pointer;
  position: relative;
}
.tan .window .content .show .kai span {
  margin-right: 3px;
}
.tan .window .content .show .kai .f_arrow {
  display: inline-block;
  width: 10px;
  height: 7px;
  background: url("images/folder_jt2.png") no-repeat;
  vertical-align: middle;
}
.tan .window .content .show .kai .s_folder {
  display: inline-block;
  width: 16px;
  height: 15px;
  background: url("images/s_folder1.png") no-repeat;
  vertical-align: middle;
}
.tan .window .content .show .kai .text {
  font: 16px/16px '微软雅黑';
  vertical-align: middle;
}
.tan .window .content .show .kai:hover {
  background: #f1f1f1;
}
.tan .window .content .show .navBar {
  position: absolute;
  top: 0;
  right: 0;
  background: #dddddd;
  height: 100%;
  width: 15px;
}
.tan .window .content .show .navBar .navScroll {
  min-height: 20px;
  width: 100%;
  background: #9d9d9d;
  border-radius: 5px;
  position: absolute;
  top: 0;
}
.tan .window .content .btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 85px;
  width: 230px;
  margin: 0 auto;
}
.tan .window .content .btns div {
  width: 100px;
  height: 37px;
  box-sizing: border-box;
  border-radius: 5px;
  font: 18px/35px '微软雅黑';
  color: #55addc;
  border: 1px solid #55addc;
  text-align: center;
  margin-top: 23px;
  cursor: pointer;
}
.tan .window .content .btns div:nth-of-type(1) {
  background: #55addc;
  color: #fff;
}
